.body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(198, 196, 196);
  font-style: normal;
}
h3 {
  text-align: center;
  text-wrap: balance;
  color: black;
  font-size: 2em;
}
h2 {
  text-align: center;
  text-wrap: balance;
  font-size: 3em;
}
h1 {
  text-align: center;
  text-wrap: balance;
  font-size: 3em;
  text-decoration: underline;
}

.one {
  color: purple;
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}
.two {
  color: pink;
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}

.plain {
  color: red;
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}
.title {
  color: darkblue;
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}
.ono {
  color: darkgoldenrod;
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}

p {
  text-align: left;
  font-size: 1.3em;
}

footer {
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
}
